@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

/* common section*/

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    /*text-decoration-line: none;*/
    text-decoration: none;
    display: block;
}

li {
    list-style-type: none;
}

h1 {
    /*tall text*/
    text-transform: uppercase;
    color: #212121;
    font-weight: 100;
}

h3 {
    /*color text uppercase*/
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    /*capitalized text*/
    text-transform: capitalize;
    color: #212121;
    font-weight: 700;
}

p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.ou {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
}

.ouw {
    background: #ffffff;
    color: #212121;
}

.our {
    background-color: #f44336;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1366px;
    min-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
}

.clearfix {
    clear: both
}

/* header section */

.header {
    min-height: 800px;
    background: url("../img/slider-img.jpg") no-repeat;
}

.header-pd {
    min-height: 119px;
}

.logot {
    margin-left: 98px;
    margin-top: 63px;
    float: left;
}

.menu {
    float: left;
    margin-left: 200px;
    margin-top: 60px;
    /*должен быть такой же оступ как и у логотипа*/
    /*margin-right: 100px;*/
}

.menu li {
    float: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

.menu li:first-child {
    /* active page pointer must be bold*/
    color: green;
    font-weight: 700;
    border-bottom: 3px solid green;
}

/*last-child active - show hiden sub-ul with textbox "search"
*/

.menu li:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid black
}

.menu li > a {
    color: #8c8c8c;
    text-transform: uppercase;
    /* search shoudn't be uppercase */
    letter-spacing: 2px;
    text-align: center;
    width: 110px;
}

.menu-prod {
    float: none;
    background-color: #f4f4f4;
    width: 1366px;
    min-width: 800px;
    min-height: 70px;
}

.menu-prod ul {
    position: relative;
    left: 25%;
}

.menu-prod li {
    float: left;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 70px;
}

.menu-prod li:first-child a {
    color: #212121;
}

.menu-prod li a {
    height: 100%;
    vertical-align: middle;
    color: #6c6c6c;
    margin-right: 30px;
}

.htext {
    float: left;
    width: 458px;
    margin-top: 288px;
    margin-left: 98px;
}

.htext h3 {
    color: #43a047;
    font-size: 18px;
    line-height: 48px;
    margin-bottom: 22px;
}

.htext h1 {
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 34px;
}

.htext p {
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
}

.htext a {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    line-height: 45px;
    font-size: 18px;
}

.htext a:hover {
    background: url("../img/arrow.png") no-repeat 175px 16px;
}

.htext a:active {
    box-shadow: none;
}

.hslider {
    clear: both;
    float: left;
    margin-left: 623px;
    margin-top: 50px;
    bottom: 19px;
}

.hslider li {
    float: left;
}

.hslider li a {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 15px;
    background-color: #c6c6c6;
    color: #c6c6c6;
    border-radius: 15px;
}

.hslider li:nth-child(2) a {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: -5px;
    background-color: #1c1c1c;
    color: #1c1c1c;
    border-radius: 20px;
}

.hslider li a:active {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: -5px;
    background-color: #1c1c1c;
    color: #1c1c1c;
    border-radius: 20px;
}

/* content section*/

/* product detail page */

.preview {
    float: left;
    margin-left: 99px;
    margin-top: 72px;
    width: 570px;
    height: 651px;
    /* 570 + 70 px - small preview + 11px margin*/
    /*outline: 1px solid red;*/
}

.preview div {
    padding-left: 150px;
    padding-right: 150px;
}

.preview div a {
    float: left;
}

.text-pd {
    float: right;
    margin-right: 132px;
    margin-top: 119px;
    width: 510px;
    /*padding: 0;*/
    /*outline: 1px solid red;*/
}

.text-pd > h3 {
    text-align: center;
    color: #f44336;
    font-size: 18px;
    line-height: 48px;
}

.text-pd > h2 {
    text-align: center;
    font-size: 36px;
    line-height: 72px;
}

.text-pd > h1 {
    text-align: center;
}

.text-pd > a {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    border-radius: 36px;
    line-height: 72px;
    font-size: 22px;
    margin-bottom: 24px;
}

.text-pd > a:hover {
    background: #f44336 url("../img/arrow-wh.png") no-repeat 345px 26px;
}

.text-pd > p {
    margin-bottom: 12px;
    line-height: 24px;
}

/*grid
    width: 1170px;
    height: 5710px;
*/

/* 270x270 section with overlay */

.catalog {
    padding-left: 98px;
    padding-top: 60px;
    clear: both;
}

/*а можно было просто определить 2 класа ссылок:
.cat_nav - для "featured|new"
.cat_expl - для "explore all"
*/

.catalog > a {
    text-transform: uppercase;
    letter-spacing: 5px;
    float: right;
    color: #212121;
    font-weight: 700;
}

.catalog > a:hover {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.catalog > a:active {
    background-color: aquamarine;
}

.catalog > div {
    float: left;
}

.cat_menu {
    text-transform: capitalize;
    float: left;
    /*border: 1px solid red;*/
}

.cat_menu li {
    float: left;
}

.cat_menu li > a {
    color: #8c8c8c;
    letter-spacing: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 72px;
    padding-left: 5px;
    padding-right: 30px;
    padding-bottom: 1px;
    border-bottom: 1px solid #8c8c8c;
}

.cat_menu li:first-child > a {
    color: #212121;
    padding-bottom: 0;
    border-bottom: 3px solid green;
}

.cat_menu li > a:hover {
    color: #212121;
    padding-bottom: 0;
    border-bottom: 3px solid #212121;
}

.cat_menu li > a:active {
    text-decoration-line: underline;
}

.cat_p_s {
    /*border: 1px solid red;*/
    margin-bottom: 60px;
}

.cat_p_s > a {
    border: 1px solid black;
}

.cat_p_s > div {
    /*border: 1px solid red;*/
    width: 270px;
    height: 270px;
    margin-top: 50px;
    margin-right: 10px;
    float: left;
}

.cat_p_btn > a {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    line-height: 48px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 62px;
    margin-left: 111px;
    /*background: url("../img/arrow.png") no-repeat 15px 16px;*/
}

.cat_p_s > div h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    /*border: 1px solid red;*/
}

.cat_p_s > div p {
    line-height: 22px;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
}

/* 370x370 trending product section */

.cat_trp {
    float: left;
    padding-bottom: 100px;
}

.cat_trp > div {
    width: 370px;
    height: 370px;
    margin-top: 50px;
    margin-right: 10px;
    float: left;
}

.reload > a {
    display: block;
    margin-top: -70px;
    margin-left: 660px;
    margin-bottom: 100px;
}

/* exclusive (promo) section (2 big picture) */

.cat_promo {
    margin-top: 60px;
    width: 100%;
}

.cat_promo > div {
    width: 632px;
    height: 683px;
    float: left;
    padding-left: 51px;
}

.cat_promo > div > h3 {
    line-height: 48px;
    margin-top: 228px;
    color: #1e88e5;
}

.cat_promo > div > h2 {
    line-height: 48px;
}

.cat_promo > div > p {
    line-height: 24px;
    margin-bottom: 24px;
}

.cat_promo > div > a {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    line-height: 48px;
    font-size: 18px;
}

.cat_promo > div > a:hover {
    background: url("../img/arrow.png") no-repeat 175px 16px;
}

.cat_promo > div:first-child {
    background: url("../img/promo1.jpg") no-repeat;
    /*outline: 1px solid red;*/
}

.cat_promo > div:last-child {
    background: url("../img/promo2.jpg") no-repeat;
    /*outline: 1px solid yellow;*/
}

/* hot deals slider */

.slider_hd {
    height: 513px;
    padding-top: 287px;
    padding-left: 99px;
    background: url("../img/slider2.jpg") no-repeat;
    /*margin-bottom: 120px;*/
    /*border: 1px solid red;*/
}

.slider_hd h3 {
    color: #e53935;
}

.slider_hd h1 {
    font-size: 62px;
    line-height: 72px;
}

.slider_hd p {
    line-height: 32px;
    width: 600px;
}

.slider_hd a {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    line-height: 45px;
    font-size: 18px;
}

.slider_hd a:hover {
    background: url("../img/arrow.png") no-repeat 175px 16px;
}

/*exclusive section*/

.cat_excl {
    margin-top: 120px;
    padding-left: 98px;
}

.cat_excl a {
    margin: 0 30px 30px 0;
    float: left;
}

.cat_excl > div {
    width: 270px;
    height: 270px;
    float: left;
    padding-left: 32px;
}

.cat_excl > div > h3 {
    line-height: 48px;
    margin-top: 228px;
    color: #1e88e5;
}

.cat_excl > div > h2 {
    line-height: 48px;
}

.cat_excl > div > p {
    line-height: 24px;
    margin-bottom: 24px;
    width: 250px;
}

.cat_excl > div > a {
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    line-height: 48px;
    font-size: 18px;
}

.cat_excl > div > a:hover {
    background: url("../img/arrow.png") no-repeat 175px 16px;
}

.cat_excl > div:first-child {
    width: 570px;
    height: 570px;
    background: url("../img/prod81-lg.jpg") no-repeat;
    /*outline: 1px solid red;*/
}

/* mobile application block */

.mob_app {
    margin-top: 120px;
    height: 516px;
    padding-top: 125px;
    padding-left: 99px;
    background: url("../img/phone.jpg") no-repeat;
}

.mob_app h3 {
    color: #6c6c6c;
}

.mob_app h1 {
    font-size: 62px;
    line-height: 72px;
}

.mob_app p {
    line-height: 32px;
}

.mob_app a {
    float: left;
    margin-left: 10px;
}

/* contact page section*/

.contacts {
    padding-top: 171px;
    padding-left: 98px;
    padding-right: 98px;
    margin-bottom: 122px;
}

.contacts h1 {
    text-transform: capitalize;
    font-size: 62px;
    margin-bottom: 127px;
}

.contact-card {
    outline: 1px solid #9c9c9c;
    width: 280px;
    height: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-card h3 {
    text-align: center;
    line-height: 48px;
}

.contact-card h4 {
    text-align: center;
    color: #6c6c6c;
    line-height: 32px;
}

.contact-card h5 {
    text-align: center;
}

.contact-card a {
    text-decoration: none;
    color: #212121;
}

.contact-card img {
    margin-left: 116px;
}

.c-box {
    margin-top: 88px;
    float: none;
    clear: both;
}

/* footer section */

/* social links must be not image, but <a href> but i didn't find that font in google's fonts*/

.clr {
    height: 384px;
}

.footer {
    max-width: 1366px;
    min-width: 1200px;
    margin: -384px auto 0;
    background-color: #f7f7f7;
    height: 384px;
    clear: both;
    padding-left: 97px;
    padding-top: 120px;
}

.footer div {
    float: left;
    padding-right: 40px;
    padding-bottom: 50px;
}

.footer div h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #6c6c6c;
    font-size: 18px;
    line-height: 24px;
}

.footer div h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #212121;
    font-size: 14px;
    line-height: 26px;
}

.footer div h2 a {
    color: #212121;
}

.footer div p {
    color: #212121;
    line-height: 22px;
}

.footer div div h3 {
    color: #6c6c6c;
    font-size: 12px;
    line-height: 26px;
}

.footer div input[type="text"] {
    height: 48px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.footer input[type="submit"] {
    width: 48px;
    height: 48px;
    border: none;
    background: url("../img/send.png") no-repeat 50% 50%;
}
